<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon size="large" name="arrow-back-outline" (click)="backToChat()"></ion-icon>
        </ion-buttons>
        <ion-title>{{ otherData.name }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngFor="let chat of chats">
        <div [ngClass]="{'current-chat': chat.uid == myData.uid}">
            <ion-item lines="none" *ngIf="chat.uid != myData.uid" style="width: 50%; display: flex; align-self: flex-start;">

                <ion-label class="ion-text-left other-user">
                    <h2>
                        <b>{{chat.msg}}</b>
                    </h2>
                    <p>{{ otherData.name }} - {{ setTime(chat.time.seconds) }}</p>
                </ion-label>
    
            </ion-item>
    
            <ion-item lines="none" *ngIf="chat.uid == myData.uid" style="width: 50%; display: flex; align-self: flex-end;">
    
                <ion-label class="ion-text-right current-user">
                    <h2>
                        <b>{{chat.msg}}</b>
                    </h2>
                    <p>{{ setTime(chat.time.seconds) }}</p>
                </ion-label>
    
            </ion-item>
        </div>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-item>
            <ion-input [(ngModel)]="textMsg" placeholder="Mensagem" (keyup.enter)="send()"></ion-input>
            <ion-icon name="send-outline" (click)="send()"></ion-icon>
        </ion-item>
    </ion-toolbar>
</ion-footer> -->