ion-content{
    --background: #fff;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@media screen and (max-width: 380px){
    .avarisPremium{
      background-color: #fff;
   }
   .car-premium{
     width: 60%; margin: auto; display: block; margin-top: 0rem; z-index: 100;
   }
   .title-premium{
     font-family: 'Coco Sharp'; font-weight: 700; font-size: 22pt; text-align: center; color: #050401;
   }
   .badge-premium{
     background-color: #031D44; width: 35%; height: 34px; margin: auto; display: block; margin-top: 0.5rem; border-radius: 20px;
     p{font-family: 'Coco Sharp'; font-weight: 500; font-size: 10pt; text-align: center; color: #fff; top: 0.4rem; margin: auto; display: block; position: relative;}
   }
   .benef-text{
     font-family: 'Coco Sharp'; font-weight: 700; font-size: 11pt; text-align: center; margin: auto; display: block; margin-top: 0.5rem; color: #101010;
   }
   .benef-circle{
      width: 50px; height: 50px; border-radius: 50%; background-color: #031d44dc; margin: auto; display: block;
      img{ width: 32px; height: 32px; margin: auto; display: block; position: absolute; left: 0; right: 0; top: 0.8rem;}
      p{ font-family: 'Coco Sharp'; font-weight: 500; font-size: 9pt; position: absolute; left: 0; right: 0; text-align: center; 
       margin: auto; display: block; margin-top: 3.5rem; color: #101010; }
   }
   .btn-subscribe{
      background-color: #031D44; width: 95%; height: 55px; margin: auto; display: block; text-align: center; margin-top: 6.5rem; /* position: absolute; bottom: 4.5rem; left: 0; right: 0; */
      font-family: 'Coco Sharp'; font-weight: 500; font-size: 12pt; text-align: center; color: #fff; border-radius: 10px;
   }
   .price-premium{
     font-family: 'Coco Sharp'; font-weight: 500; font-size: 12pt; text-align: center; color: #031D44; margin-top: 4rem; position: absolute; left: 0; right: 0;
     span{ font-family: 'Coco Sharp'; font-weight: 500; font-size: 10pt; text-align: center; color: #bebebe; }
   }
  }
@media screen and (min-width: 381px){
    .avarisPremium{
      background-color: #fff;
   }
   .car-premium{
     width: 60%; margin: auto; display: block; margin-top: 1rem; z-index: 100;
   }
   .title-premium{
     font-family: 'Coco Sharp'; font-weight: 700; font-size: 25pt; text-align: center; color: #050401;
   }
   .badge-premium{
     background-color: #031D44; width:35%; height: 34px; margin: auto; display: block; margin-top: 1rem; border-radius: 20px;
     p{font-family: 'Coco Sharp'; font-weight: 500; font-size: 10pt; text-align: center; color: #fff; top: 0.4rem; margin: auto; display: block; position: relative;}
   }
   .benef-text{
     font-family: 'Coco Sharp'; font-weight: 700; font-size: 11pt; text-align: center; margin: auto; display: block; margin-top: 1.5rem; color: #101010;
   }
   .benef-circle{
      width: 50px; height: 50px; border-radius: 50%; background-color: #031d44dc; margin: auto; display: block;
      img{ width: 32px; height: 32px; margin: auto; display: block; position: absolute; left: 0; right: 0; top: 0.8rem;}
      p{ font-family: 'Coco Sharp'; font-weight: 500; font-size: 9pt; position: absolute; left: 0; right: 0; text-align: center; 
       margin: auto; display: block; margin-top: 3.5rem; color: #101010; }
   }
   .btn-subscribe{
      background-color: #031D44; width: 95%; height: 55px; margin: auto; display: block; text-align: center; position: absolute; bottom: 4rem; left: 0; right: 0;
      font-family: 'Coco Sharp'; font-weight: 500; font-size: 12pt; text-align: center; color: #fff; border-radius: 10px;
   }
   .price-premium{
     font-family: 'Coco Sharp'; font-weight: 500; font-size: 12pt; text-align: center; color: #031D44; margin-top: 6rem; position: absolute; left: 0; right: 0;
     span{ font-family: 'Coco Sharp'; font-weight: 500; font-size: 10pt; text-align: center; color: #919191; }
   }

   .price{font-family: 'Coco Sharp'; font-weight: 700; font-size: 16pt; text-align: center; color: #101010;
     margin: auto; display: block; margin-top: 30%; 
    span{ font-family: 'Coco Sharp'; font-weight: 500; font-size: 11pt; text-align: center; color: #101010; 
      text-decoration: line-through; float: left; left: -0.5rem; text-align: start; margin-top: 0.3rem; }
  }
}

.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  }
  .StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
  }
  .StripeElement--invalid {
  border-color: #fa755a;
  }
  .StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
  }
  .stripe{
  width: 400px;
  }
  .div{
  width: 400px;
  }
  .center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  }
  //
  //
  //
  //
  //card 

  .back-arrow{ margin-left: 0.5rem; margin-top: 0.5rem;
    ion-icon{ width: 18px; height: 18px; color: #B7B7B7; }
  }
  .logo{
    width: 26%; margin: auto; display: block; margin-top: 0rem;
  }
  .title_subscribe{
    font-family: 'Coco Sharp'; font-weight: 500; text-align: center; font-size: 12pt; color: #767676; margin: auto; display: block; width: 100%;
  }
  .preco_subscribe{
    font-family: 'Coco Sharp'; font-weight: 700; text-align: center; font-size: 22pt; color: #101010; margin: auto; display: block; margin-top: 0.5rem;
    span{font-family: 'Coco Sharp'; font-weight: 500; text-align: center; font-size: 11pt; color: #767676}
  }
  .description{
    font-family: 'Coco Sharp'; font-weight: 500; text-align: center; font-size: 10pt; color: #767676; margin: auto; display: block; margin-top: 1rem;
  }

  .datacardTitle{
    font-family: 'Coco Sharp'; font-weight: 500; text-align: center; font-size: 11pt; color: #767676;
  }

  .clearfix:before,
  .clearfix:after {
    content: "";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  .clearfix {
    zoom: 1;
  }
  
  #title{
    font-family: 'Coco Sharp'; font-weight: 500;
    font-size: 100px;
    color: #e0e0e0;
    position: absolute;
    left: 10%;
    top:50%;
    transform: rotate(-30deg);
    transform-origin: bottom left;
  }
  
  .card-bounding{
    width: 92%;
    margin: 0 auto; margin-top: 1.5rem;
    border-radius: 4px;
    font-family: 'Coco Sharp'; font-weight: 500;
    background: transparent;
  }
  
  .card-bounding aside{
    font-family: 'Coco Sharp'; font-weight: 500; font-size: 11pt; color: #767676;
  }
  .card-name-card{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto 30px auto;
  }
  .card-name-card input {
      border-radius: 12px;
      width: 100%;
      font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 12pt; color: #101010;
      height: 45px;
      border: 0;
      outline: none;
      box-sizing: border-box;
    }
  .card-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 40px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px 6px 0px 0px;
    margin: 0 auto 30px auto;
  }
  .card-container input {
    width: 100%;
    font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 12pt; color: #101010;
    letter-spacing: 1px;
    height: 45px;
    border: 0;
    outline: none;
    box-sizing: border-box;
  }
  .card-type {
    width: 30px;
    height: 30px;
    background: url("../../../assets/icon/credit-card/credit-card-empty.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 7px;
    left: 6px;
  }
  .card-type.mastercard {
    width: 30px;
    height: 30px;
      background: url("../../../assets/icon/credit-card/maestro.png") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: absolute;
      top: 7px;
      left: 6px;
  }
  .card-type.visa {
    width: 30px;
    height: 30px;
      background: url("../../../assets/icon/credit-card/visa.png") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: absolute;
      top: 7px;
      left: 6px;
  }
  .card-type.amex {
    width: 30px;
    height: 30px;
      background: url("../../../assets/icon/credit-card/American-Express.png") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: absolute;
      top: 7px;
      left: 6px;
  }
  .card-type.discover {
      width: 30px;
      height: 30px;
      background: url("../../../assets/icon/credit-card/diners.png") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: absolute;
      top: 7px;
      left: 6px;
  }
  .card-valid {
    position: absolute;
    top:0.9rem;
    right: 0.5rem;
    float: right;
    width: 18px;
    height: 18px;
    background: url("../../../assets/icon/check-solid.svg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .card-valid.active {
    position: absolute;
    top:0.9rem;
    right: 0.5rem;
    float: right;
    width: 18px;
    height: 18px;
    background: url("../../../assets/icon/check-solid-active.svg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .card-details {
    width: 100%; margin-top: -2rem;
    text-align: left;
    margin-bottom: 30px;
    transition: 300ms ease;
  }
  .card-details input {
    font-family: 'Coco Sharp'; font-weight: 500; font-size: 12pt; color: #101010;
    padding: 15px; height: 45px; border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
  }
  .card-details ion-input {
    font-family: 'Coco Sharp'; font-weight: 500; font-size: 12pt; color: #101010;
    padding: 15px; height: 45px; border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
  }

  .card-details input.error {
    border: 1px solid #c2313c;
    box-shadow: 0 4px 8px 0 rgba(238,76,87,0.3);
    outline: none;
  }
  .card-details .expiration {
    width: 50%;
    height: 45px;
    float: left;
    
  }
  .card-details .cvv {
    width: 50%;
    height: 45px;
    float: left;
  }

  .item_checkbox-terms{
    width: 100%; height: 55px; border: 1px solid #ccc; border-radius: 6px;
    ion-checkbox{ position: absolute; float: left; left: 0; margin-top: 1rem;}
    p{ font-family: 'Coco Sharp'; font-weight: 500; font-size: 10pt; color: #101010; margin-left: 2.5rem; margin-top: 1rem; }
  }

  .assinar{
    width: 100%; height: 50px; background-color: #031D44; color: #fff; text-align: center; margin: auto; display: block;
    margin-top: 1rem; font-family: 'Coco Sharp'; font-weight: 500; font-size: 12pt; border-radius: 6px;
  }

  .terms_description{
    font-family: 'Coco Sharp'; font-weight: 500; font-size: 10pt; color: #767676; text-align: center; margin-top: 1rem;
  }

  .button {
  position: relative;
  width: 100%; height: 50px;    
  background-color: #031D44;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
}

.button__text {
  font-family: 'Coco Sharp'; font-weight: 500; font-size: 12pt;
  color: #ffffff;
  transition: all 0.2s;
}

.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

//
.load{
	position: absolute; top: 50%; transform: translateY(-50%);  z-index: 1000; left: 0; right: 0;
}

.no-mask{
   
}
.mask{
  display:block;
  -webkit-filter: blur(20px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(1px);
  opacity: 0.95;
  z-index: 999;
}

.box_alerts{
  width: 85%; height: 340px; position: absolute; top: 50%; transform: translateY(-65%); margin: auto; display: block; 
  left: 0; right: 0; background-color: #fff; border-radius: 25px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  img{ margin: auto; display: block; width: 65%; margin-top: 1rem; }
  h1{ font-family: 'Coco Sharp'; font-weight: 700; font-size: 20pt; color: #101010; text-align: center; margin-top: 0.5rem;}
  p{ font-family: 'Coco Sharp'; font-weight: 500; font-size: 11pt; color: #101010; text-align: center; margin-top: 0.5rem; width: 90%; margin: auto; display: block;}
  hr{ margin-top: 1rem; }
  button{ margin: auto; display: block; width: 50%; height: 35px; border-radius: 20px; text-align: center; color: #fff; 
    font-family: 'Coco Sharp'; font-weight: 500; font-size: 12pt;}
}


.success_background{
  background-color: #fff; width: 100%; height: 100%; position: absolute; z-index: 1000;
}
.success_medal{
  width: 55%; margin: auto; display: block; margin-top: -60%; position: absolute; left: 0; right: 0;
}
.title_congrat{
  font-family: 'Coco Sharp'; font-weight: 500; text-align: center; font-size: 16pt; color: #031D44; margin: auto; display: block; margin-top: 3rem;
}
.animation_confetti{
  margin-top: -5rem;
}

.p_t{
  font-family: 'Coco Sharp'; font-weight: 800; text-align: center; font-size: 23pt; color: #031D44; margin: auto; display: block; margin-top: 1rem; width: 100%;
}
.p_st{
  font-family: 'Coco Sharp'; font-weight: 500; text-align: center; font-size: 12pt; color: #767676; margin: auto; display: block; margin-top: 0.5rem;
}

.item_news{
  --background: transparent; width: 100%; 
  ion-label{ font-family: 'Coco Sharp'; font-weight: 500; text-align: left; font-size: 10pt; color: #767676; margin-left: 2rem; }
  ion-icon{ width: 18px; height: 18px; color: #101010; margin-left: 3rem; }
}
.btn_right{
  font-family: 'Coco Sharp'; font-weight: 700; text-align: center; font-size: 16pt; color: #031D44; margin: auto; display: block; margin-top: 3rem; transition:2s;
}


.slide-in-bottom {
	-webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bottom2 {
	-webkit-animation: slide-in-bottom 1.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: slide-in-bottom 1.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}
@-webkit-keyframes slide-in-bottom2 {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom2 {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bottom3 {
	-webkit-animation: slide-in-bottom 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	        animation: slide-in-bottom 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}
@-webkit-keyframes slide-in-bottom3 {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom3 {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bottom4 {
	-webkit-animation: slide-in-bottom 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
	        animation: slide-in-bottom 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}
@-webkit-keyframes slide-in-bottom4 {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom4 {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
