<div *ngIf='isLoad' class="load">
  <lottie-animation-view [options]="lottieConfig" [width]="300" [height]="300"></lottie-animation-view>
</div>

<ion-content [ngClass]="(isLoad==true)?'mask':'no-mask'">
  <ion-grid style="height: 100%;"> 
    <ion-row>
      <ion-item style="--background: transparent; margin-left: -0.5rem;" lines='none' (click)='home()'>
        <ion-icon name="arrow-back-outline" style="width: 18px; height: 18px; color: #031D44;"></ion-icon>
      </ion-item>
    </ion-row>
    <div>
      <div class="circle-progress">
        <div class="circle-pic">
          <img src="../../../assets/icon/icon-person2.png">
        </div>
      </div>
      <h1 class="title-name">{{profileUser.nome}} {{profileUser.sobrenome}}</h1>
    </div>
    <div class="box-franquia">
      <div class="bar-line"></div>
      <div class="details">
        <h1>Meu Rank</h1>
  
      </div>
    </div>

    <ion-row style="margin-top: 3rem;">
      <ion-item lines='none' class="item-menu">
        <div class="box-icon-1">
          <img class="icon-svg" src="../../../assets/icon/user-regular.svg" >
        </div>
        <ion-label class="title-item">Meus dados</ion-label>
        <ion-icon class="side-icon-arrow" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item lines='none' class="item-menu" style="margin-top: 2rem;"> 
        <div class="box-icon-2">
          <img class="icon-svg" src="../../../assets/icon/wallet-solid.svg" >
        </div>
        <ion-label class="title-item">Meus cartões</ion-label>
        <ion-icon class="side-icon-arrow" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item lines='none' class="item-menu" style="margin-top: 2rem;">
        <div class="box-icon-3">
          <img class="icon-svg" src="../../../assets/icon/file-invoice-dollar-solid.svg" >
        </div>
        <ion-label class="title-item">Pagamentos</ion-label>
        <ion-icon class="side-icon-arrow" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-row>
    <ion-row style="margin-top: 8rem;" (click)='logout()'>
      <ion-item class="item-logout" lines='none'>
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Sair</ion-label>
      </ion-item>
    </ion-row>

  </ion-grid>
</ion-content>
