<div *ngIf='isLoad' class="load">
  <lottie-animation-view [options]="lottieConfig" [width]="300" [height]="300"></lottie-animation-view>
</div>

<ion-app [ngClass]="(isLoad==true)?'mask':'no-mask'">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" side="end" menuToggle="right">
      <ion-content>
        <div class="withLogin" *ngIf='lg'>
          <div class="menus">
            <div class="user">

              <div class="user-div" *ngIf="!PHOTO"><img src="../../../assets/icon/user-regular-profile.svg"></div>
              <div class="user-div-pic" *ngIf="PHOTO"><img src="{{myPhoto}}"></div>
              <h1 *ngIf='!lg'>Bem-vindo</h1>
              <h1 *ngIf='lg'>Bem-vindo <span>{{profileUser.nome}}</span></h1>
              <ion-row style="width: 100%; margin-top: 2rem;" *ngIf='lg' lines="none">
                <ion-col>
                  <div class="item-info">
                    <p >Meu Rank:</p>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="item-info">
                    <p >Corridas:</p>
                  </div>
                </ion-col>
                <ion-col></ion-col>
              </ion-row>

            </div>
            <ion-row *ngIf="!premium">
              <div class="subribe_banner" (click)="Premium()">
                <img src="../assets/img/LOGO-ICON.png">
                <p>Seja Premium</p>
              </div>
            </ion-row>
            <ion-row *ngIf="premium">
              <div class="subribe_premium" >
                <img class="medal" src="../assets/img/medal.svg">
                <p class="premium">Você é um Premium</p>
              </div>
            </ion-row>
            <ion-item (click)="home()" class='item-menu' style="margin-top: 1rem;" lines='none'>
              <img src="../assets/icon/house-active.png">
              <ion-label>Home</ion-label>
            </ion-item>
            <ion-item (click)="myAccount()" class='item-menu' lines='none'>
              <img src="../assets/icon/icons8-test-account-90.png">
              <ion-label>Minha conta</ion-label>
            </ion-item>
            <ion-item (click)="wallet()" class='item-menu' lines='none'>
              <img src="../assets/icon/credit-card-solid.svg">
              <ion-label>Carteira</ion-label>
            </ion-item>
            <ion-item (click)="message()" class='item-menu' lines='none'>
              <img src="../assets/icon/icons8-chat-90.png">
              <ion-label>Mensagens</ion-label>
            </ion-item>
            <ion-item (click)="history()" class='item-menu' lines='none'>
              <img src="../assets/icon/history-solid.svg">
              <ion-label>Histórico</ion-label>
            </ion-item>
            <ion-item (click)="help()" class='item-menu' lines='none'>
              <img src="../assets/icon/question-circle-regular.svg">
              <ion-label>Ajuda</ion-label>
            </ion-item>
            <ion-item (click)="config()" class='item-menu' lines='none'>
              <img src="../assets/icon/icons8-services-240.png">
              <ion-label>Configurações</ion-label>
            </ion-item>
            <ion-item class='item-menu' lines='none' (click)='logout()'>
              <img src="../assets/icon/logout.png">
              <ion-label>Sair</ion-label>
            </ion-item>
            <!-- <ion-row style="margin-top: 3rem">
              <ion-label class="title-code-ind">Meu código de indicação:</ion-label>
              <ion-item class="code" lines="none">
                <p>{{myCode}}</p>
              </ion-item>
            </ion-row> -->
            <ion-row style="height: 50px;"></ion-row>
          </div>
          <ion-row>
            <ion-item class="item-version" lines='none'> 
              <img src="../assets/img/LOGO_A.svg">
              <ion-label>Versão 1.001.10</ion-label>
            </ion-item>
          </ion-row>
        </div>
        <div *ngIf='!lg'>
          <div class="pop-noLogin" >
            <ion-grid>
              <ion-row>
                <img class="logo" src="../assets/img/LOGO.svg">
              </ion-row>
              <ion-row>
                <h1 class="title">Selecione uma opção<br>para continuar</h1>
              </ion-row>
              <ion-row style="margin-top: 4rem;">
                <button class="btn-lg" (click)='goLOGIN()'>Fazer login</button>
              </ion-row>
              <ion-row class="bar-options">
                <h2><span>ou</span></h2>
              </ion-row>
              <ion-row style="margin-top: 3rem;">
                <button class="btn-cds" (click)='goRegister()'>Cadastrar-se</button>
              </ion-row>
            </ion-grid>
          </div>
          <div class="pop-noLogin" *ngIf='makeLogin'>
            <ion-row>
              <button class="btn-back" (click)='backLogin()'>
                <ion-icon name="arrow-back-outline"></ion-icon>
              </button>
              <img class="logo" src="../assets/img/LOGO.svg">
            </ion-row>
            <ion-row ><!-- style="transform: scaleX(-1);" -->
              <h1 class="title">Faça seu login</h1>
            </ion-row >
            <ion-row style="margin-top: 3rem;">
              <div class="input-email"><ion-input [(ngModel)]="email" name='email' placeholder='E-mail'></ion-input></div>
            </ion-row>
            <ion-row style="margin-top: 2rem;">
              <div class="input-password"><ion-input type="password" [(ngModel)]="password" name='password' placeholder='Senha'></ion-input></div>
            </ion-row>  
            <ion-row style="margin-top: 5rem; ">
              <button class="btn-enter" (click)="logIn(email, password)">Entrar</button>
            </ion-row>
            <ion-row style="margin-top: 3rem;">
              <div class="forget-password">
                <h1>Esqueci minha senha</h1>
              </div>
            </ion-row>
          </div>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
