<div *ngIf='isLoad' class="load">
  <lottie-animation-view [options]="lottieConfig" [width]="300" [height]="300"></lottie-animation-view>
</div>

<ion-content [ngClass]="(isLoad==true)?'mask':'no-mask'">

  <ion-grid>
    <ion-row class="logo">
      <ion-icon (click)='back()' name="chevron-back-outline"></ion-icon>
      <img src="../../../assets/img/logo-preto.png">
    </ion-row>
  
    <ion-row>
      <div class="container">
        <ion-row>
          <h1 class="title"><span>Crie</span> uma nova<br>conta</h1>
        </ion-row>
        <form>    
          <ion-item class="input-item" lines="none" >
            <ion-input type="text" placeholder='Email' #email required ></ion-input>
          </ion-item> 
      
          <ion-item class="input-item" lines="none">
            <ion-input type="password" #password placeholder='Senha' required></ion-input>
          </ion-item>

          <ion-item class="input-item" lines="none">
            <ion-input type="password" #confirmpassword placeholder='Confirmar senha' required></ion-input>
          </ion-item>
      
          <ion-row style="margin-top: 5rem;">
            <ion-col style="height: 100%;"> 
              <ion-item lines='none' class="item-checkbox">
                <ion-label>Aceitar a <span style="text-decoration: underline;">política</span> e os <span style="text-decoration: underline;">termos de uso e serviço</span></ion-label>
                <ion-checkbox slot="start" mode="md" color="primary"></ion-checkbox>
              </ion-item>
              <button class="btn-register" type="submit" (click)="signUp(email, password)" expand="block">Cadastrar-se</button>
            </ion-col>
          </ion-row>
        </form>
          
      </div>
    </ion-row>
  </ion-grid>
  
</ion-content>